.actions {
  .view {
    margin-left: 12px;
  }
}

.box {
  height: 100%;
  background-color: #fff;
}

.result {
  height: 40%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 100%;
}
