.skuDetail {
  height: 100%;
  overflow: auto;
  background: var(--body--background--color);

  .customIndicator {
    position: absolute;
    bottom: 12px;
    right: 12px;
    border-radius: 50px;
    font-size: 12px;
    background: rgba(0, 0, 0, 0.5);
    padding: 4px 8px;
    color: #ffffff;
    user-select: none;
  }

  .edit {
    position: absolute;
    top: 12px;
    right: 12px;
    border-radius: 50px;
    background: rgba(0, 0, 0, 0.5);
    height: 24px;
    text-align: center;
    line-height: 24px;
    width: 24px;
    color: #ffffff;
    -moz-user-select: none;
    -ms-user-select: none;
  }

  .imgs {
    img {
      object-fit: cover;
    }
  }

  .header {
    margin: 8px;
    padding: 0 12px;
    background-color: #fff;
    border-radius: 6px;

    .otherData {
      display: flex;
      padding-top: 8px;
      justify-content: space-between;
      border-top: solid 1px #f5f5f5;

      .number {
        display: flex;
        align-items: flex-end;
        flex-direction: column;
        justify-content: space-between;

        span {
          font-size: 24px;
          color: #FA8F2B;
          //margin-right: 8px;
        }

        .otherNumber {
          font-size: 24px;
          color: rgba(0, 0, 0, 0.5);
        }
      }
    }

    .sku {
      padding-top: 12px;
      align-items: stretch;

      .spuName {
        font-weight: bold;
        font-size: 20px;
      }
    }

    .skuName {
      font-size: 14px;
      padding-top: 8px;
    }

    .bindPosition {
      font-size: 14px;
      padding: 8px 0;
      display: flex;
    }

    .actions {
      font-size: 12px;
      padding: 8px 0 12px 0;
      border-top: 1px solid #F5F5F5;
      margin-top: 12px;

      .action {
        font-size: 12px;
        color: #3D3D3D;
        text-align: center;

        span {
          margin-right: 4px;
          font-size: 12px;
          color: var(--adm-color-primary);
        }
      }
    }
  }


  .skuData {
    margin: 0 8px;
    padding: 12px;
    background-color: #fff;
    border-radius: 6px;

    .label {
      min-width: 80px;
      width: 80px;
      color: #9A9A9A;
      margin-right: 12px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .value {
      flex-grow: 1;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .files, .bom, .supply {
    margin: 8px;
    padding: 12px;
    background-color: #fff;
    border-radius: 6px;

    .title {
      font-weight: bold;
      padding-bottom: 8px;

      .extra {
        float: right;

        button {
          font-size: 12px;
        }
      }
    }
  }

}

.flexCenter {
  display: flex;
  align-items: center;
  height: 100%;

  .flexGrow {
    flex-grow: 1;
  }
}

.bomItem, .supplyItem {
  margin: 8px 0;
}

.supplyCard {
  padding: 0;
  margin-bottom: 8px;
  border: 1px solid var(--body--background--color);

  .supplyHeader {
    background-color: var(--body--background--color);
    padding: 8px 12px;
  }

  .supplyContent {
    background-color: #fff;

    .brands {
      padding: 4px 8px;
      background-color: #EEEEEE;
    }
  }
}

.fileItem {
  min-height: 80px;
  min-width: 80px;
  background-color: #F5F5F5;
  border-radius: 6px;

  .showImg {
    font-size: 80px !important;
    background: transparent;
    color: var(--adm-color-primary);
  }
}

.numberDes {
  font-size: 12px;
  color: rgba(0, 0, 0, 0.5);
}

.numberMonDes {
  font-size: 16px;
  color: rgba(0, 0, 0, 0.5);
  margin-top: -3px;
}
