
.dialog {

  .button {
    font-size: 16px;
  }

  :global .adm-dialog-button {
    padding: 6px !important;
  }

  :global .adm-dialog-mask {
    background: rgba(0, 0, 0, 0.2) !important
  }

  :global .adm-dialog-wrap {
    width: auto;

    :global .adm-dialog-body {
      padding: 0;

      :global .adm-dialog-body-content {
        padding: 0;
        text-align: center;
        overflow: hidden;
        font-weight: bolder;
      }

      :global .adm-dialog-content {
        padding: 0;
        text-align: center;
        overflow: hidden;
        font-weight: bolder;
      }
    }

  }

  .title {
    min-width: 200px;
    padding: 14px 0;
    text-align: center;
  }
}




