
.dialog {

  .button {
    font-size: 16px;
  }

  :global .adm-dialog-button {
    padding: 6px !important;
  }

  :global .adm-dialog-mask {
    background: rgba(0, 0, 0, 0.2) !important
  }

  :global .adm-dialog-wrap {
    width: auto;

    :global .adm-dialog-body {
      padding: 16px;
      width: 200px;

      :global .adm-dialog-body-content {
        text-align: center;
        overflow: hidden;
        font-weight: bolder;
      }
    }

  }
}




