.log {
  background-color: #fff;
  color: #808080;
}

.name {
  font-size: 14px;
  font-weight: bold;
  display: flex;
  gap: 14px;
  align-items: center;

  span {
    font-size: 12px;
    font-weight: bold;
  }
}

.description {
  font-size: 14px;

  .content {
    margin: 8px 0;
  }

  .reply {
    border-radius: 5px;
    background: #F5F5F5;
    padding: 8px 12px;

    .replyItem {
      padding: 8px;
    }
  }

  .actions {
    margin-top: 8px;
    display: flex;
    gap: 20px;
  }
}
