
.step :global .adm-step-description {
  padding: 0 0 0 8px !important;
}

.step :global .adm-step-icon-container {
  top: calc(var(--title-font-size) * 2.5 / 2) !important
}

.step :global .adm-step-description {
  color: #000000 !important;
}
.step :global .adm-step-content {
  padding-left: 8px;
}


