
.qywx {
  :global .adm-mask {
    margin-top: 45px;
  }
}

.other {
  :global .adm-mask {
    margin-top: 90px;
  }
}

.popup {
  :global .adm-popup-body {
    height: auto !important;
    background-color: rgba(0, 0, 0, 0);
  }
}

.screenDiv {
  left: 0;
  width: 100vw;
  box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.1);

  .top {
    background-color: rgba(0, 0, 0, 0);
  }

  .content {
    height: 62vh;
    background-color: #fff;
    display: flex;

    .sideBar {
      flex-grow: 1;
      background-color: var(--body--background--color);

      :global .adm-side-bar-item-highlight {
        display: none;
      }

      :global .adm-side-bar-item-active {
        background-color: #fff !important;
      }

      :global .adm-side-bar-item {
        background-color: var(--body--background--color);
      }

      .sideBarTitle {
        display: flex;
        align-items: center;
        gap: 8px;

        .screened {
          width: 5px;
          height: 5px;
          background-color: #FA8F2B;
          border-radius: 100%;
        }
      }
    }

    .screenContent {
      flex-grow: 1;
      width: calc(100vw - 100px);
      display: flex;
      flex-direction: column;
      overflow: auto;
      gap: 16px;

      :global .adm-card-header {
        border: none;
      }

      :global .adm-card-body {
        padding: 0;
      }
    }
  }

  .buttons {
    background-color: #fff;
    padding: 7px 10%;
    box-shadow: 0px -2px 3px 0px rgba(0, 0, 0, 0.1);
    display: flex;

    .button {
      width: 50%;
      padding: 6px 0;
      text-align: center;
      font-size: 14px;
    }

    .close {
      border-radius: 50px 0 0 50px;
    }

    .ok {
      border-radius: 0 50px 50px 0;
    }
  }

  .make {
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
  }
}


@keyframes frame {
  from {
    top: -50%;
  }
  to {
    top: 0;
  }
}

.skuClass, .supply {
  :global .adm-selector-item {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.left {
  :global .adm-selector-item {
    text-align: left;
  }
}

.searchBar {
  padding: 0 0 12px 0 !important;

  :global .adm-search-bar {
    border: solid 1px #F5F5F5;
  }

  :global .adm-search-bar-input-box {
    background-color: #fff !important;
    border: none;
  }
}
