.header {
  font-size: 18px;
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #EEEEEE;
}

.skuItem {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #EEEEEE;

  .item {
    flex-grow: 1;
  }

  .scan {
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.action {
  padding: 12px;
  max-height: 60vh;
  overflow: auto;

  .storeHouseTitle {
    padding: 12px 0;
    border-bottom: solid 1px #F5F5F5;

    svg {
      color: var(--adm-color-primary);
      font-size: 15px;
    }
  }

  .storeItem {
    display: flex;
    align-items: center;

    button {
      margin-right: 12px;
      width: 50vw;
    }
  }

  .position {
    border-radius: 2px;
    margin: 12px 0;
  }

  .defaultPosition {
    border: 1px solid #D9D9D9;
    color: #808080;
  }
}

.allBrands {
  padding: 6px 0;

  .storeBrandItem {
    padding: 0 8px 8px;
    border-bottom: solid 1px #ccc;
    display: flex;
    align-items: center;

    div {
      flex-grow: 1;
    }
  }

  .storeBrandPositions {
    padding: 8px 0;
  }

  .brands {
    background-color: var(--body--background--color);
    display: flex;
    padding: 0 8px;
    margin-bottom: 6px;
    align-items: center;
    font-size: 14px;
    border-radius: 2px;
    gap: 8px;
    height: 32px;

    .positionName {
      flex-grow: 1;
      display: flex;
      align-items: center;

      span {
        padding-left: 8px;
      }
    }
  }

  .checked {
    border: solid 1px var(--adm-color-primary);
  }
}

.count {
  padding: 12px;
  text-align: right;
}

.positionPopup {
  z-index: var(--adm-popup-z-index, 1002);
}





