.header {
  font-size: 18px;
  padding: 12px;
  text-align: center;
  border-bottom: 1px solid #EEEEEE;
}

.skuItem {
  display: flex;
  align-items: center;
  padding: 12px;
  border-bottom: 1px solid #EEEEEE;

  .item {
    flex-grow: 1;
  }

  .scan {
    gap: 8px;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.action {
  padding: 12px;
  max-height: 60vh;
  overflow: auto;

  .storeHouseTitle {
    padding-bottom: 12px;
    font-weight: bold;

    .select {
      float: right;
      font-weight: normal;

      svg {
        color: var(--adm-color-primary);
        font-size: 15px;
        margin-left: 4px;
      }
    }
  }

  .storehouse {
    border: 1px solid var(--body--background--color);
    margin-bottom: 12px;
  }

  .storeItem {
    display: flex;
    align-items: center;
    margin-bottom: 12px;

    button {
      margin: 0 16px 0 0;
      padding: 0;
      height: 30px;
      width: 50vw;
    }

    .number {
      height: 30px;
      line-height: 30px;
    }
  }

  .storehouseItem {
    padding: 12px;
    border-bottom: 1px solid var(--body--background--color);

    .remove {
      float: right;
    }
  }

  .position {
    border-radius: 2px;
    margin: 12px 0;
  }

  .defaultPosition {
    border: 1px solid #D9D9D9;
    color: #808080;
  }
}

.allBrands {
  padding: 6px 0;

  .storeBrands {
    border: 1px solid var(--body--background--color);
    margin-bottom: 8px;
  }
  .storeBrandItem {
    padding: 8px;
    background-color: var(--body--background--color);
    display: flex;
    align-items: center;

    div {
      flex-grow: 1;
    }
  }

  .storeBrandPositions {
    //padding: 8px 0;
  }

  .brands {
    background-color: var(--body--background--color);
    display: flex;
    padding: 0 8px;
    margin-bottom: 8px;
    align-items: center;
    font-size: 14px;
    border-radius: 2px;
    gap: 8px;
    height: 36px;
    //line-height: 36px;

    .positionName {
      flex-grow: 1;
      display: flex;
      align-items: center;

      span {
        padding-left: 8px;
      }
    }
  }

  .checked {
    border: solid 1px var(--adm-color-primary);
  }
}

.content {
  padding: 12px;
}

.count {
  padding: 12px;
  text-align: right;
}

.positionPopup {
  z-index: var(--adm-popup-z-index, 1002);
}





