.scan {
  display: flex;
  align-items: center;
  padding: 16px 10vw;
  gap: 12px;
  background-color: #fff;

  .scanImg {

  }

  .scanTitle {
    font-size: 14px;
    color: #878585;
  }
}

.inventoryLog {
  border-top: solid 1px #D8D8D8;
  padding: 8px 12px;
  background-color: #fff;

  .logs {
    //background-color: var(--body--background--color);
  }
}

.logData {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: solid 1px #f5f5f5;
  padding: 8px 0;
}

.stocktakingButtom {
  position: fixed;
  text-align: center;
  bottom: 16px;
  padding: 12px;
  left: calc(50% - 40px);
  width: 80px;
  height: 80px;
  background: var(--adm-color-primary);
  border-radius: 50px;
  box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;

  svg {
    font-size: 30px;
    color: #fff;
  }
}
