
.skuInStock {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    flex-grow: 1;
    overflow: auto;
  }
}

.skuContent {
  padding-bottom: 60px;
}

.skuList {
  background-color: #fff;

  .skuItem {
    display: flex;
    padding: 12px;
    align-items: center;
    border-bottom: 1px solid #F5F5F5;

    .check {
      margin-right: 12px;
    }

    .sku {
      flex-grow: 1;
    }
  }
}


