.batchPrepare {
  background-color: #fff;
  padding: 0 12px 60px;

  .box {
    padding: 12px 0;
    border-bottom: black 1px dashed;
  }

  .skuHeader {
    display: flex;

    .skuTitle {
      flex-grow: 1;
    }
  }

  .complete {
    text-decoration-line: line-through;
    text-decoration-thickness: initial;
    text-decoration-style: initial;
    text-decoration-color: initial;
  }

  .skuContent {
    display: flex;
    font-size: 16px;
    padding: 4px 0;

    .sku {
      flex-grow: 1;
      padding-right: 12px;
    }
  }

  .total {
    padding: 8px 0;
    text-align: right;
  }
}
