.search {
  position: sticky;
  background-color: #fff;
  z-index: 1;
}

.bomItem {
  display: flex;
  align-items: center;
  padding: 12px;
  background-color: #fff;
  margin-bottom: 3px;
}

.sku {
  flex-grow: 1;
}

.bom {
  padding: 12px;
  background-color: #fff;
  display: flex;
  align-items: center;
}

.header {
  padding: 8px 12px;
  background-color: #fff;
}

.back {
 float: right;
}
