.space {
  display: block;
  margin: 8px 0;
  height: 1px;
  background-color: var(--body--background--color);
}

.skuItem {

  > div {
    display: flex;
    align-items: center;
    padding-top: 16px;

    .label {
      min-width: 80px;
    }

  }
}
