
.report {
  .orderHeader {
    background-color: #fff;
    padding: 12px;
  }

  .orderCard {
    background-color: var(--body--background--color);
    padding: 12px 0;
  }

  .orderBody {
    padding: 0 !important;
    background-color: var(--body--background--color);
  }

  .taskBody {
    padding: 8px 0 0 0 !important;
  }
}



