
.report {
  .tabs {
    --title-font-size: 14px;
    background-image: url("../../assets/reportBg.png");
    background-size: 100% 153px;
    background-repeat: no-repeat;
    --content-padding: 0 12px 12px;

    :global {

      .adm-tabs-tab-wrapper {
        padding: 0 6px;
      }

      .adm-tabs-tab-line {
        background-color: #fff;
      }

      .adm-tabs-tab {
        padding: 0 0 7px;
        color: #fff;
      }

      .adm-tabs-content {
        padding: 0 8px;
      }

      .adm-tabs-header {
        border: none;
        padding: 14px 8px 0;
        margin-bottom: 6px;
      }

      .adm-tabs-tab-active {
        color: #fff;
        font-weight: bold;
        font-size: 16px;
      }
    }
  }

  .card {
    border-radius: 4px;
  }
}



