* {
  font-size: 16px;
}

.title :global .weui-list-title {
  margin: 0;
  padding: 8px;
}

.title :global .weui-list-inner {
  margin: 0 !important;
}

.title :global .weui-panel__hd {
  padding: 8px;
}
