.relationItem {
  display: flex;
  align-items: center;
  padding: 8px 12px;
  background-color: #fff;
  margin-bottom: 3px;

  .info {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 8px;

    span {
      display: inline-block;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
      width: 60vw;
    }
  }

  .status {
    display: flex;
    align-items: center;
  }
}
