.header {
  padding-bottom: 12px;
  border-bottom: solid 1px #F5F5F5;
}

.contractContent {
  padding: 0 !important;

  .contract {
    padding: 0;

    .contractHeader {
      border-bottom: solid var(--body--background--color) 1px;
      padding: 8px 0;
    }

    .contractBody {
      padding: 0 8px;
    }
  }
}

.title {
  span {
    color: red;
    margin-left: 4px;
  }
}

.detailSkuItem {
  border-top: 1px solid #F5F5F5;
  display: flex;
  padding: 12px;
  align-items: center;

  .sku {
    flex-grow: 1;
  }

  .action {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    font-size: 14px;
    gap: 24px;
  }
}

.addContract {
  padding-bottom: 68px;

  .addContractItem {
    display: flex;
    border-bottom: solid 1px #F5F5F5;
    padding: 12px;

    > div {
      flex-grow: 1;
    }

    :global {
      .adm-input {
        max-width: 50vw;

        input {
          text-align: right;
        }
      }
    }
  }
}

.contractList {

  .contractItem {
    padding: 12px;
    border-bottom: solid 1px #F5F5F5;
    display: flex;
    //align-items: center;
    gap: 12px;

    .info {
      height: 14px;
      flex-grow: 1;
    }
  }
}

.space {
  height: 3px;
  margin: 0 -12px;
  background-color: var(--body--background--color);
}

