.skuItem {
  padding: 12px;
  background-color: #fff;
  margin-bottom: 8px;

  .sku {
    display: flex;
    align-items: center;

    .item {
      flex-grow: 1;
    }

    .errorData {
      display: flex;
      flex-direction: column;
      align-items: flex-end;
      gap: 8px;
    }

    .error {
      color: var(--adm-color-danger);
      margin-bottom: 16px;
    }
  }

  .log {
    margin-top: 8px;
    border-top: 1px solid #D8D8D8;

    .data {
      display: flex;
      align-items: center;
      padding: 8px;

      .left {
        flex-grow: 1;
      }
    }
  }
}


