.popup {

  :global .adm-mask {
    background-color: transparent !important;
  }

}
.content {
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.3);

  .imgs {
    padding-right: 8px;
  }

  .comments {
    display: flex;
    align-items: center;
    padding: 0 8px;
    gap: 8px;

    .textarea {
      flex-grow: 1;
    }

    .add {
      width: 50px;
    }
  }

}
