.item {
  padding: 12px;
  background-color: #fff;
}

.border {
  background-color: #F8F8F8;
  height: 1px;
  margin-left: 64px;
}

.flexCenter {
  display: flex;
  align-items: center;

  .fontColor {
    color: #8D8D8D;
    font-size: 12px;
  }

  .time {
    min-width: 120px;
    margin-left: 8px;
    justify-content: flex-end;
  }

  .avatar {
    padding-right: 8px;
  }

  .content {
    flex-grow: 1;

    .title {
      color: #3D3D3D;
      margin-bottom: 4px;
      display: flex;

      .titleBadge {
        flex-grow: 1;

        .badge {
          :global {
            .adm-badge-dot {
              min-width:6px;
              width: 6px;
              height: 6px;
            }
          }
        }
      }
    }

    .describe {

    }
  }

}

.screen {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-bottom: 1px;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-right: 14px;


  .tabs {
    flex-grow: 1;
  }
}

.top {
  background-color: #eee;
}
