.item {
  padding: 12px;
  background-color: #fff;
}

.border {
  background-color: #F8F8F8;
  height: 1px;
  margin-left: 64px;
}

.flexCenter {
  display: flex;
  align-items: center;

  .box {
    width: 10px;
    height: 10px;
    margin-left: 8px;

    .badge {
      width: 100%;
      height: 100%;
      background-color: var(--adm-color-primary);
      border-radius: 50%;
    }
  }

  .fontColor {
    color: #8D8D8D;
    font-size: 12px;
  }

  .time {
    min-width: 120px;
    margin-left: 8px;
  }

  .avatar {
    padding-right: 8px;
  }

  .content {
    flex-grow: 1;

    .title {
      color: #3D3D3D;
      margin-bottom: 4px;
    }

    .describe {

    }
  }

}

.screen {
  padding: 12px;
  display: flex;
  align-items: center;
  background-color: #fff;
  margin-bottom: 1px;
  position: sticky;
  top: 0;
  z-index: 1;


  .status {
    flex-grow: 1;

    .default {
      background-color: #F1F1F1;
    }

    .checked {
      background-color: var(--adm-color-primary);
      color: #fff;
    }

    button {
      margin-right: 12px;
    }
  }
}

.top {
  background-color: #eee;
}
