.item {
  background-color: #fff;
  margin-bottom: 1px;
}

.border {
  background-color: #F8F8F8;
  height: 1px;
  margin-left: 64px;
}

.flexCenter {
  display: flex;
  align-items: center;
}

.title {
  color: #3D3D3D;
  display: flex;
  gap: 8px;
  align-items: center;
  border-bottom: solid 1px #F5F5F5;
  padding: 12px 12px 8px 0;
  margin-left: 12px;

  .titleBadge {
    flex-grow: 1;

    .badge {
      :global {
        .adm-badge-dot {
          min-width: 6px;
          width: 6px;
          height: 6px;
        }
      }
    }
  }

  .fontColor {
    color: #9A9A9A;
    font-size: 12px;
  }

  .time {
    min-width: 120px;
    margin-left: 8px;
    justify-content: flex-end;
  }

  .avatar {
    padding-right: 8px;
  }
}

.content {
  color: #8D8D8D;
  padding: 0 12px 8px;
}

.theme {
  padding: 8px 12px;
}

.screen {
  display: flex;
  align-items: center;
  background-color: #fff;
  margin: 1px 0;
  position: sticky;
  top: 0;
  z-index: 1;
  padding-right: 14px;
  box-shadow: 0 10px 10px 0 #00000013;


  .tabs {
    flex-grow: 1;

    :global {
      .adm-tabs-header {
        border: none;
      }
    }
  }
}

.top {
  background-color: #eee;
}
