
.search {
  //position: sticky;
  //top: 0;
  z-index: 1;
  background-color: #fff;
}

.screen {
  position: sticky;
  top: -1px;
  z-index: 1;
  background-color: #fff;
  padding: 12px;
  border-top: solid 1px #F5F5F5;
  display: flex;

  .blank {
    flex-grow: 1;
  }

  .stockNumber {
    color: #666666;

    span {
      color: #257BDE;
    }
  }

  .screenButton {
    color: #000000;

    svg {
      font-size: 13px;
    }
  }

  .checked {
    color: var(--adm-color-primary);
  }

}

.skuClass {
  position: sticky;
  background-color: var(--body--background--color);

  top: 44px;
  z-index: 1;
  --title-font-size: 14px;
  height: 34px;
  line-height: 34px;

  :global .adm-tabs-header {
    border: none;
  }

  :global .adm-tabs-tab {
    span {
      padding: 2px 9px;
    }
  }

  .classCheck {
    background-color: #257BDE;
    border-radius: 10px;
    color: #fff;
  }


  :global .adm-tabs-tab-line {
    display: none;
  }

  :global .adm-tabs-tab {
    padding: 0;
  }
}

.skuList {
  display: flex;
  font-size: 14px;
  padding-right: 29px;

  .img {
    border-radius: 4px;
    border: solid #F1F1F1 1px;
    overflow: hidden;
    position: relative;

    img {
      filter: grayscale(50%);
    }

    .number {
      font-size: 12px;
      text-align: center;
      position: absolute;
      bottom: 0;
      width: 100%;
      color: #fff;
      background-color: rgba(27, 27, 27, 0.5);
    }
  }

  .sku {
    flex-grow: 1;
    max-width: calc(100vw - 74px - 12px - 13px - 29px);
    display: flex;
    flex-direction: column;
    gap: 2px;
    margin-left: 13px;

    .describe {
      color: #808080;
    }
  }

  .positions {
    width: auto;
    display: flex;
    color: #3D3D3D;
    background-color: #F5F5F5;
    font-size: 12px;
    padding: 2px 11px;
    border-radius: 50px;
  }
}
