.text {
  background-color: #F5F5F5;
  --font-size: 12px;
  padding: 4px 12px;
}

.img {
  background-color: #fff;
  padding: 4px 12px;

  .upload {
    width: 24px;
    height: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2px;
    border: 1px solid #D9D9D9;
  }
}
