.textArea {
  position: relative;

  .count {
    position: absolute;
    z-index: 1;
    bottom: 4px;
    right: 8px;
    color: #999999;
  }
}

.text {
  border: none;

  &:focus {
    border: none;
    box-shadow:none;
  }
}
