.input {
  input {
    text-align: right;
  }
}

.skuItem {
  padding: 8px 0;
  display: flex;
  align-items: center;
  border-bottom: solid 1px var(--body--background--color);

  .sku {
    flex-grow: 1;
  }

  .skuInfo {

    > div {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      gap: 8px;
      padding: 8px 0;
    }
  }
}

.title {
  span {
    color: red;
    margin-left: 4px;
  }
}

.extra {
  height: 19px;
  min-width: 100px;
  text-align: right;

  > div {
    max-width: 50vw;
    text-align: right;
    min-height: 19px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    justify-content: flex-end;
  }
}

.coding {
  border: 1px solid #D9D9D9;
  padding: 0 8px;
}

.contractContent {
  padding: 0 !important;

  .contract {
    padding: 0;

    .contractHeader {
      border-bottom: solid var(--body--background--color) 1px;
      padding: 8px 0;
    }

    .contractBody {
      padding: 0 8px;
    }
  }
}

.cardBody {
  background-color: var(--body--background--color) !important;
}

.flexCenter {
  display: flex !important;
  gap: 8px;
  align-items: center;
}

.date {
  text-align: right;
}

.selectInput {
  display: flex;
  align-items: center;
}

.stepper {
  border-radius: 2px;
  border: 1px solid #D9D9D9;
  display: inline-block;
  height: 24px;
  line-height: 24px;
  min-width: 50px;
  width: min-content;
  padding: 0 8px;
  --input-background-color: #fff;

  > button {
    display: none;
  }

  :global {
    .adm-input {
      min-height: 19px
    }
  }
}


