.content {
  margin-bottom: 16px;

  .divider {
    width: 100px;
    font-size: 14px;
    font-weight: bold;
    color: #000;
    margin: 0;
    border-color: #e3dfdf;
  }

}

.bomSteps {
  display: flex;
  margin: 13px 0;

  .stepIcon {
    border-radius: 100%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stepOtherIcon {
    border: solid 1px #E1EBF6;
  }

  .stepCurrentIcon {
    background-color: var(--adm-color-primary);
    color: #fff;
  }

  .upBom {
    font-size: 12px;
    min-width: 50px;
  }
}

.bomType {
  display: flex;
  align-items: center;
  padding-bottom: 12px;

  button {
    font-size: 12px;
    display: flex;
    align-items: center;
  }

  .radio {
    flex-grow: 1;
    display: flex;
    gap: 14px;

    :global .adm-radio-content {
      --font-size: 12px;
    }
  }
}

.bomItem {
  :global .adm-list-item-content-main {
    max-width: 90%;
  }

  .listItem {
    font-size: 12px;

    :global .adm-checkbox {
      --icon-size: 12px;
      max-width: 100%;
    }

    :global .adm-checkbox-custom-icon {
      display: flex;
    }

    :global .adm-checkbox-content {
      font-size: 12px;
      max-width: 100%;
      display: flex;
    }
  }
}

.searchBar {
  padding: 0 0 12px 0 !important;

  :global .adm-search-bar {
    border: solid 1px #F5F5F5;
    border-radius: 2px;
    overflow: hidden;
  }

  :global .adm-search-bar-input-box {
    background-color: #fff !important;
    border: none;
  }
}


