.content {
  margin-bottom: 16px;
}

.bomSteps {
  display: flex;
  margin: 13px 0;

  .stepIcon {
    border-radius: 100%;
    width: 28px;
    height: 28px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .stepOtherIcon {
    border: solid 1px #E1EBF6;
  }

  .stepCurrentIcon {
    background-color: var(--adm-color-primary);
    color: #fff;
  }

  .upBom {
    font-size: 12px;
    min-width: 50px;
  }
}

.bomType {
  display: flex;
  gap: 14px;
}

.bomItem {
  :global .adm-list-item-content-main {
    max-width: 90%;
  }

  .listItem {
    font-size: 12px;

    :global .adm-checkbox {
      --icon-size: 12px;
      max-width: 100%;
    }

    :global .adm-checkbox-custom-icon {
      display: flex;
    }

    :global .adm-checkbox-content {
      font-size: 12px;
      max-width: 100%;
      display: flex;
    }
  }
}


