.myPicking {

  .storeHouseItem {
    border-radius: 4px;
    background: #FFFFFF;
    box-sizing: border-box;
    border: 1px solid #6D6D6D;
    margin: 12px;
    padding: 0 16px;

    .storeHouseData {
      display: flex;
      align-items: center;
      border-bottom: 1px solid #D8D8D8;
      padding: 8px 0;

      .img {
        margin-right: 8px;
      }

      .data {
        display: flex;
        flex-direction: column;
        gap: 8px;

        .name {
          font-size: 18px;
          font-weight: bold;
          color: #3D3D3D;
        }

        .address, .pickData {
          font-size: 14px;
          color: #3D3D3D;

          span {
            color: var(--adm-color-primary);
            margin: 0 4px;
          }
        }
      }
    }

    .skuClassData {
      display: flex;
      flex-direction: column;
      padding: 12px 0;
      gap: 8px;

      .classItem {
        font-size: 14px;
        color: #3D3D3D;

        span {
          color: var(--adm-color-primary);
          margin: 0 4px;
        }
      }
    }


  }
}
