.data {
  display: flex;
  font-size: 14px;
  background-color: #fff;
  padding: 12px 16px;
  margin-bottom: 8px;

  .label {
    flex-grow: 1;
    color: #262626;
  }

  .value {
    color: #000000;
  }
}

.skus {
  background-color: #fff;
  font-size: 14px;
  padding-bottom: 12px;
  margin-bottom: 8px;

  .skuHead {
    padding: 12px 16px;
    display: flex;
    border-bottom: 1px solid #F5F5F5;

    .headTitle {
      color: #262626;
      flex-grow: 1;
    }

    .extra {
      color: #000000;
      display: flex;
      gap: 4px;

      span {
        color: var(--adm-color-primary);
        margin-left: 8px;
      }
    }
  }

  .skuBorderBottom {
    border-bottom: 1px solid #F5F5F5;
  }

  .skuItems {
    padding: 12px;
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .skuItem {
    display: flex;
    align-items: center;
    padding: 12px;

    .item {
      flex-grow: 1;
    }

    .number {
      display: flex;
      flex-direction: column;
      justify-content: center;
      gap: 8px;
    }
  }

  .positions {
    display: inline-block;
    max-width: 100%;
    color: #3D3D3D;
    background-color: #F5F5F5;
    font-size: 12px;
    padding: 2px 11px 1px 11px;
    border-radius: 50px;
  }

}

.allSku {
  color: #808080;
  font-size: 12px;
  margin: 0 12px;
  border-color: #F5F5F5;
}

.user {
  display: flex;
}

.careful, .note, .file, .user {
  background-color: #fff;
  padding: 12px;
  color: #333333;
  margin-bottom: 8px;

  .carefulShow {
    margin: 8px;
    display: inline-block;
    padding: 6px;
    background: #F5F5F5;
  }

  .remake {
    padding: 8px;
  }

  .title {
    span {
      color: #EB0F0F;
    }
  }

  .files {
    padding: 10px 0;
  }

  .textArea {
    --font-size: 14px;
    border-bottom: 1px solid #F5F5F5;;
    padding: 8px;
    text-align: center;

    &:focus {
      border-bottom: 1px solid #F5F5F5;;
    }
  }
}

.carefulData {
  padding: 14px 0;

  .addCareful {
    margin-top: 8px;
    display: flex;
    gap: 8px;
    border: solid 1px #F5F5F5;

    .button {
      min-width: 50px;
    }

    .input {
      flex-grow: 1;
      border-radius: 2px;
      overflow: hidden;
      --font-size: 14px;
      padding: 2px 4px;
    }

  }

  .selector {
    font-size: 14px;

    :global .adm-selector-item {
      border-radius: 2px;
      background: #F5F5F5;
      border: 1px solid #D9D9D9;
      padding: 0 8px;
      text-align: center;
      height: 27px;
      line-height: 27px;
    }

    :global .adm-selector-item-multiple-active {
      border-radius: 2px;
      background: #E1EBF6;
      border: 1px solid #007FFF;
    }
  }
}
