.box {

  .flex {
    display: flex;
    align-items: center;
    margin-top: 24px;
  }

  .checkLabel {
    display: inline-block;
    width: 80px;

    span {
      color: var(--adm-color-danger);
    }
  }

  .check {
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
    margin-right: 12px;
  }
}
