.noticeBar {
  position: fixed;
  width: 100%;
}

.codeInput {
  text-align: center;
  padding: 20% 24px;

  .title {
    font-size: 20px;
    color: #808080;
  }

  .divider {
    font-size: 20px;
    color: #808080;
    margin: 0;
    border-color: #F5F5F5;
  }

  .inputNumber {
    padding: 61px 0;
    display: flex;
    justify-content: center;

    .codeItem {
      display: flex;
      align-items: center;

      .box {
        text-align: center;
        font-weight: bold;
        border-radius: 2px;
        background: #f8f8f800;
        border-bottom: solid 2px #d3d3d3;
        color: #3D3D3D;
      }

      .next {
        border-bottom: solid 2px var(--adm-color-primary);
      }

      .space {
        height: 1px;
        background-color: #E8E8E8;
      }
    }


  }
}

.openPopup {
  :global .adm-mask {
    display: none
  }
}

.popup {
  :global .adm-mask {
    background-color: transparent !important;
  }
}

.skus {
  padding: 8px;

  .skuItem {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 8px;
    margin-bottom: 8px;

    .sku {
      flex-grow: 1;
    }
  }
}

.scan {
  margin-top: 31px;

  .scanStyle {
    width: 80px;
    height: 80px;
    background: #D9D9D9;
    border-radius: 50px;
    box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;

    svg {
      font-size: 30px;
      color: #fff;
    }
  }


}


