.tabBarItem {
  height: 70px;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  background: #FFFFFF;

  :global .adm-tab-bar-wrap {
    height: 100%;
    overflow: visible;
  }

  :global .adm-tab-bar-item {
    display: flex;
    align-items: center;
    flex-direction: column;
  }

  :global .adm-tab-bar-item-title {
    text-align: center;
    font-size: 14px;
    font-weight: normal;
    letter-spacing: 0;
    margin-top: 8px;
  }
}
