.timeBox{
  background-color: #FFFFFF;
  border-radius: 3px;
  display: flex;
  padding: 10px 12px;
  width: 100%;

  .timeBoxLeft{
    padding-left: 2px;
    font-size: 14px;
    color: #3D3D3D;
    flex-grow: 1;
  }
  .timeBoxRight{
    color: #9A9A9A;
  }
}
