.content {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 76px;

  .sku {
    padding-bottom: 16px;
    border-bottom: solid 1px var(--body--background--color);
  }

  .flex {
    display: flex;
    align-items: center;
    margin-top: 12px;

    .label {
      width: 70px;
    }
  }
}
