.content {
  display: flex;
  flex-direction: column;
  padding: 12px 12px 76px;

  .skuItem {
    display: flex;
    align-items: center;
    margin-bottom: 16px;

    .sku {
      flex-grow: 1;
    }
  }

  .storehouse {
    max-height: 90vh;
    overflow: auto;
  }
}
