.searchDiv {
  padding: 12px;
  background-color: #fff;

  .search {
    //background-color: #fff;
    display: flex;
    align-items: center;
    position: relative;


    .searchBar {
      flex-grow: 1;
      --height: 35px;

      :global .adm-input-element {
        line-height: 1.5 !important;
      }

      :global .adm-search-bar-input-box {
        background-color: #F5F5F5;
      }
    }


    .submit {
      margin-left: 12px;
      min-width: 30px;
      font-size: 14px;
    }

    .icon {
      min-width: 30px;
      margin-left: 12px;
      text-align: center;
    }


  }
}

.popover {
  :global .adm-popover-arrow {
    display: none;
  }

  :global .adm-popover-inner {
    width: 100%;
  }
}

