
.view {
  padding: 12px;

  .skuItem {
    display: flex;
    align-items: center;

    .sku {
      flex-grow: 1;
    }
  }

  .content {
    max-height: 60vh;
    overflow: auto;
  }

  .brandItem {
    border: solid 1px var(--body--background--color);
    margin-bottom: 12px;

    .brandName {
      background-color: var(--body--background--color);
      padding: 8px 12px;

    }

    .positionName {
      padding: 12px;
    }

    .number {
      float: right;
    }
  }
}
