
.normal {
  font-family: Georgia, sans-serif;
  margin-top: 4em;
  text-align: center;
}

.welcome {
  height: 512px;
  background: url(../../assets/yay.jpg) no-repeat center 0;
  background-size: 512px 512px;
}

.list code {
  background: #f7f7f7;
}

:global .weui-preview__hd {
  padding: 0!important;
}

:global .weui-panel__hd {
  padding: 5px!important;
  position: fixed!important;
}
.panel .panelTitle {
  display: inline;
  margin-left: 5px;
  margin-top: 10px;
}
.panel :global .weui-panel-item {
  padding: 15px 5px!important;
  border-left: outset;
  border-left-color: blue;
}

.panel :global .weui-panel-item_info {
  margin: 5px!important;
}
.panel .comment {
  font-weight: bold;
  margin: 5px;
  color: black;
}
:global .ant-picker-calendar-full .ant-picker-panel .ant-picker-calendar-date-content {
 height: 0!important;
}
:global .ant-tabs-nav{
  position: fixed!important;
  z-index: 99!important;
  background-color: white!important;
}

:global .ant-tabs-content {
  margin-top: 12%!important;
}
