.orderItem {
  background-color: #fff;
  margin-bottom: 8px;
  padding-bottom: 20px;

  .data {
    display: flex;
    padding: 3px 12px;
    font-size: 14px;
    align-items: center;
    border-bottom: solid 1px #F5F5F5;


    .taskData {
      padding: 10px 0;
      font-weight: bold;
      color: #333333;
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 8px;

      .name {
        display: flex;
        align-items: center;
      }

      .title {
        display: inline-block;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
        max-width: 50vw;
      }
    }

    .status {
      padding: 10px 0;
      font-weight: normal;
      color: #555555;
      width: 130px;
      text-align: right;
    }

    .coding {
      color: #000000;
      flex-grow: 1;
    }

    .button {
      padding: 0;
      font-size: 14px;
      --border-radius: 2px;
      width: 72px;
      height: 30px;
      line-height: 28px;
    }

    .createTime {
      color: #555555;
      flex-grow: 1;
    }

    .money {
      color: #000000;

      span {
        font-weight: bold;
      }
    }
  }

  .content {
    display: flex;

    .orderData {
      flex-grow: 1;

      .statusName {
        padding: 0 4px;
        min-height: 100%;
        display: flex;
        align-items: center;
        color: #fff;
        font-size: 12px;
      }

      .dateShow {
        display: flex;
        border-bottom: solid 1px #F5F5F5;

        .show {
          flex-grow: 1;
          padding: 16px;
          display: flex;
          align-items: center;
          justify-content: center;

          .showNumber {
            display: flex;
            flex-direction: column;
            padding-left: 16px;

            .number {
              font-size: 18px;
              margin: 0 4px;
              color: var(--adm-color-primary);
            }
          }

          svg {
            font-size: 26px;
            color: var(--body--background--color);
          }
        }
      }
    }

    .timeBar {
      line-height: 100%;
      position: relative;
      border: solid 1px #FA8F2B;
      display: flex;
      flex-direction: column;
      margin: 8px 4px;
      padding: 2px 0;

      .scale {
        width: 8px;
        background-color: #FA8F2B;
        flex-grow: 1;
        margin: 2px 1px;
      }

      .over {
        opacity: 0.3;
      }
    }

  }

  .progress {
    line-height: 14px;
    height: 14px;

    :global .ant-progress-line {
      line-height: 14px;
      height: 100%;
    }

    :global .ant-progress-outer {
      margin: 0;
      padding: 0;
      height: 100%;
    }

    :global .ant-progress-inner, :global .ant-progress-bg {
      border-radius: 0;
      height: 100% !important;
      vertical-align: baseline;
    }

    :global .ant-progress-text {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      text-align: right;
      margin: 0;
      line-height: 14px;

      .text {
        display: inline-block;
      }
    }
  }

}


