
.pageIndex {
  display: flex;
  flex-direction: column;
  height: 100%;

  .content {
    flex-grow: 1;
    overflow: auto;
  }
}

.tab {

  z-index: var(--adm-popup-z-index, 1001);

  .scan {
    position: relative;

    :global .adm-tab-bar-item-icon {
      height: auto;
      margin: 0;
    }

    :global .adm-badge-wrap, :global .adm-badge-wrapper {
      position: absolute;
      top: -26px;
      background-color: #fff;
      height: 79px;
      width: 79px;
      border-radius: 50%;
      box-shadow: 0px -4px 10px 0px rgba(0, 0, 0, 0.1);
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 30px;
      }
    }

  }
}

.popup {

  :global .adm-popup-body {
    background-color: var(--body--background--color);
    bottom: 130px !important;
    padding-bottom: 8px;
  }

  :global .adm-mask {
    bottom: 130px;
    top: auto;
  }
}
