.skuItem {
  display: flex;
  align-items: center;
  padding: 12px;

  .sku {
    flex-grow: 1;
  }

  .actions {
    display: flex;
    flex-direction: column;
    align-items: flex-end;

    .sop {
      margin-bottom: 24px;
    }
  }
}

.brands {
  padding: 12px;
  border-top: solid 1px #F5F5F5;

  .brandItem {
    display: flex;
    align-items: center;
    border-radius: 2px;
    background: #E1EBF6;
    padding: 4px 8px;

    .brand {
      flex-grow: 1;
      display: flex;
      align-items: center;
      gap: 8px;
    }
  }
}

.phone {
  padding: 12px;

  .title {
    padding: 4px 0;
  }
}
