.card {
  background-color: #fff;
  padding: 12px;
  margin-bottom: 3px;

  .header {
    display: flex;
    align-items: center;
    //border-bottom: 1px solid #F5F5F5;

    .title {
      flex-grow: 1;
    }
  }

  .content {
    padding: 8px;
  }
}


