.SkuItem {
  display: flex;
  align-items: center;
  padding: 12px 0;
  border-bottom: solid 1px #D8D8D8;

  .sku {
    flex-grow: 1;
  }

  .action {
    text-align: right;

    button {
      margin-top: 12px;
      max-width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }

  .newAction {
    text-align: right;

    button {
      margin-bottom: 12px;
      max-width: 100px;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}
