.flexCenter {
  display: flex;
  //align-items: center;

  .types {
    flex-grow: 1;
    height: 204px;
    overflow: auto;

    .check {
      padding: 12px;
    }

    .checked {
      color: var(--adm-color-primary);
    }

    .svg {
      float: right;
      padding: 0 8px;
    }
  }
}
