
.list {
  background-color: #fff;
  padding: 12px;
  min-height: 100%;

  .item {
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid var(--body--background--color);
    padding: 4px;
    margin-bottom: 12px;

    .header {
      padding: 8px 12px;
      display: flex;
      border-bottom: 1px solid #F5F5F5;;
      align-items: center;
      font-size: 12px;

      .title {
        flex-grow: 1;
        font-size: 14px;
        font-weight: Bold;
        color: #000000;
        display: flex;
        max-width: calc(100% - 128px);

        .name {
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 60%;
          white-space: nowrap;
        }

        span {
          margin-left: 8px;
          color: #257BDE;
          font-weight: normal;
          text-overflow: ellipsis;
          overflow: hidden;
          max-width: 40%;
          white-space: nowrap;
        }
      }

      .time {
        width: 150px;
        color: #808080;
      }
    }

    .content {
      font-size: 14px;
      font-weight: normal;
      color: #000000;
      padding: 8px 12px;

      .other {
        margin-top: 4px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

