
.list {
  background-color: #fff;
  padding: 12px;
  min-height: 100%;

  .item {
    border-radius: 8px;
    box-sizing: border-box;
    border: 1px solid var(--body--background--color);
    padding: 4px;
    margin-bottom: 12px;

    .header {
      padding: 8px 12px;
      display: flex;
      border-bottom: 1px solid #F5F5F5;;
      align-items: center;
      font-size: 12px;

      .title {
        flex-grow: 1;
        font-size: 14px;
        font-weight: Bold;
        color: #000000;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .status {
        color: #257BDE;
        min-width: 100px;
        text-align: right;
      }
    }

    .content {
      font-size: 14px;
      font-weight: normal;
      color: #000000;
      padding: 8px 12px;

      .orderData {
        display: flex;
        align-items: center;

        .coding {
          flex-grow: 1;
          text-overflow: ellipsis;
          overflow: hidden;
          white-space: nowrap;
        }

        .time {
          font-size: 12px;
          color: #808080;
          min-width: 150px;
          text-align: right;
        }
      }

      .other {
        margin-top: 8px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }
  }
}

