.positionPopup {
  z-index: var(--adm-popup-z-index, 1002);
}

.positionItem {
  padding-top: 24px;
  display: flex;
  align-items: center;

  .position {
    flex-grow: 1;
  }

  button {
    margin-left: 8px;
  }

  .number {
    display: flex;
    align-items: center;
    gap: 8px;
  }
}
