
.outSku {
  border-bottom: 1px solid #F5F5F5;
  padding: 12px 12px 0;

  .skus {
    padding-left: 12px;
  }

  .skuItem {
    display: flex;
    align-items: center;
    border-bottom: solid 1px #F5F5F5;
    padding: 12px 0;

    .storeName {
      padding: 0 8px;
      font-size: 14px;
      font-weight: normal;
      color: #333333;
    }

    .sku {
      flex-grow: 1;
      padding: 0 8px;
    }

    .skuData {
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    span {
      //margin: 0 8px;

      svg {
        font-size: 18px;
      }
    }
  }

  .askData {
    display: flex;
    gap: 8px;
    padding: 8px 12px;
    align-items: center;

    .title {
      flex-grow: 1;
      display: flex;
      gap: 8px;
      align-items: center;

      .outOrder {
        display: inline-block;
        max-width: calc(100vw - 100px);
        color: #3D3D3D;
        background-color: #F5F5F5;
        font-size: 12px;
        padding: 2px 11px 1px 11px;
        border-radius: 50px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .time {
        color: #999999;
      }
    }


  }


}
