.top {
  position: sticky;
  top: 0;
  z-index: 2;


  .screen {
    background-color: #fff;
    padding: 12px;
    border-top: solid 1px #F5F5F5;
    display: flex;

    .stockNumber {
      color: #666666;
      flex-grow: 1;

      span {
        color: #257BDE;
      }
    }

    .screenButton {
      color: #000000;

      svg {
        font-size: 13px;
      }
    }

    .checked {
      color: var(--adm-color-primary);
    }

  }

  .tab {
    background-color: var(--body--background--color);
    --title-font-size: 14px;

    :global .adm-tabs-header {
      border-bottom: none;
    }

    :global .adm-tabs-tab {
      line-height: normal;
    }

  }
}

