
.imgs {
  display: flex;
  gap: 8px;
  flex-wrap: wrap;

  .img {
    width: 60px;
    height: 60px;
    border-radius: 3px;
    background: #F5F5F5;
    overflow: hidden;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--adm-color-primary);

    :global {
      .ant-avatar {
        background-color: #fff;

        svg {
          font-size: 60px;
        }
      }
    }

    svg {
      font-size: 30px;
    }

    .remove {
      z-index: 1;
      width: 17px;
      height: 17px;
      color: #fff;
      background: url("../../../../assets/remove.png") 100%;
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
      justify-content: right;
      padding: 2px;

      svg {
        font-size: 8px;
        font-weight: bold;
      }
    }
  }

}

.fileItem {
  height: 42px;
  padding: 0 8px;
  margin: 8px 0;
  line-height: 42px;
  background-color: #F5F5F5;
  display: flex;
  align-items: center;
  border-radius: 6px;

  .showImg {
    margin-right: 8px;
    font-size: 26px !important;
    background: transparent;
    color: var(--adm-color-primary);
  }

  .remove {
    margin-left: 8px;
  }

  .fileName {
    flex-grow: 1;
  }
}


.action {
  :global .adm-button-block {
    padding: 20px 0;
  }
}

.space {
  height: 8px;
  background: #F5F5F5;
}
