.card {
  padding: 12px;
  border-radius: 8px;
  background: rgba(255, 255, 255, 0.9);
  box-shadow: 0 6px 9px -2px rgba(220, 220, 220, 0.3);

  .flexStart {
    display: flex;

    .customerName {
      flex-grow: 1;
      font-size: 16px;
      color: #808080;
      font-weight: bold;
    }

    .outLogin {
      height: 24px;
    }
  }

  .userInfo {

    .name {
      font-weight: bold;
      padding: 12px 0;
      font-size: 18px;
    }

    .dept {
      padding: 12px 0;
      border-top: solid 1px #f5f5f5;
      color: #808080;
      display: flex;
      align-items: center;
    }
  }
}

.dynamic {
  margin-top: 12px;

  .dynamicHeader {
    padding-bottom: 12px;
  }

  .dynamicItem {
    padding: 8px 0;
    border-bottom: solid 1px var(--body--background--color);

    .time {
      opacity: .5;
    }
  }
}


.actions {
  margin: 12px 0;
  display: flex;
  align-content: center;
  gap: 12px;

  div {
    padding: 12px;
    background-color: #fff;
    flex-grow: 1;
  }

  .loginOut {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
}
