.header {
  display: flex;
  padding: 12px;
  background-color: #fff;
  align-items: center;

  .info {
    flex-grow: 1;
    display: flex;
    align-items: center;

    svg {
      margin-right: 8px;
      font-size: 40px;
    }
  }

  .time {
    color: #555555;
  }

  svg {
    color: var(--adm-color-primary);
    font-size: 20px;
  }
}

.cardBody {
  padding: 0 !important;
}

.customer {
  margin-bottom: 16px;

  .divider {
    margin: 8px
  }
}

.sku {
  display: flex;
  align-items: center;
  margin-bottom: 8px;

  .skuItem {
    flex-grow: 1;
  }
}
