
.tab {
  font-size: 16px;
  background-color: #fff;
}

.bottom {
  position: fixed;
  bottom: 0;
  width: 100%
}

.stocktakingButtom {
  display: flex;
  align-items: center;
  padding: 4px 16px;
  background-color: #fff;
  border-top: 1px solid #F5F5F5;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);

  button {
    flex-grow: 1;
  }
}


.maintenanceButtom {
  padding: 4px 16px;
  background-color: #fff;
  border-top: 1px solid #F5F5F5;
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);

  button {
    border-radius: 50px;
    width: 100%;
    height: 40px;
  }
}
