.box {
  color: #999999;
  display: flex;
  align-items: center;

  div {
    flex-grow: 0;
  }

  .left {
    margin-bottom: 16px;
  }

  .right {
    margin-top: 16px;
  }

  .slash {
    margin: -10px;
    width: 30px;
    height: 1px;
    border-bottom: 1px solid #c9c6c6;
    transform: rotate(126.03deg);
  }
}
