.search {
  padding: 8px 12px;
  position: sticky;
  top: 0;
  z-index: 1;
}

.statusList {
  text-align: center;
  position: sticky;
  top: 43px;
  background-color: #fff;
  z-index: 1;

  .status {
    padding: 8px 0;
  }
}


.list {
  padding: 0 12px 12px;
}

.positionItem {
  border-radius: 2px;
  margin: 16px 0;

  .positionName {
    display: flex;
    align-items: center;

    .name {
      flex-grow: 1;
      display: flex;
      align-items: center;
      font-weight: bold;
      gap: 8px;
    }
  }

  .inkindItem {
    margin: 8px 0;
    border-radius: 2px;
    border: solid 1px var(--body--background--color);

    .inkindData {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      background-color: var(--body--background--color);

      .inkindId {
        display: flex;
        flex-grow: 1;
        align-items: center;
        gap: 8px;
      }

      .brand {
        max-width: 130px;
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }
    }

    .otherData {
      padding: 8px 12px 0;
      color: #666666;
    }
  }
}

.inkindList {
  //max-height: 50vh;
  //overflow: auto;
  //padding: 12px 0;
}

.flex {
  display: flex;
  align-items: center;

  .flexGrow {
    flex-grow: 1;
  }
}

.actions {
  color: var(--adm-color-primary);

  :global {
    .adm-popover-menu-list {
      min-width: 30px;
    }

    .adm-popover-menu-item-text {
      border: none;
      padding: 8px 20px 8px 0;
    }
  }
}

.statusType {
  background-color: #F5F5F5;
  height: 35px;
  line-height: 35px;
  padding: 0 8px;
  color: #808080;
}

