
.skus {

  .skuItem {
    display: flex;
    padding: 1px 0;
    background-color: var(--body--background--color);

    .nav {
      display: flex;
      align-items: center;
      width: 20px;
      text-align: center;
      font-size: 12px;
      justify-content: center;
    }

    .skuData {
      flex-grow: 1;
      display: flex;
      flex-direction: column;
      background-color: #fff;

      .skuAction {
        display: flex;
        padding: 8px;
        align-items: center;

        .sku {
          flex-grow: 1;
        }
      }
    }

    .text {
      display: flex;
      align-items: center;
      padding: 8px;

      button {
        margin-left: 8px;
      }
    }
  }
}

