
.item {
  margin: 16px 8px;
  box-shadow: rgba(24, 69, 181, 0.1) 0 3px 6px;

  .label {
    width: 60px;
    color: #9d9b9b;
  }
}


.mainDiv {

}

.mainDiv :global .adm-capsule-tabs-tab {
  font-size: 14px;
}
