.sku {
  border-bottom: solid 1px var(--body--background--color);
}

.skuItem {
  display: flex;
  align-items: center;
  padding: 12px;

  .row {
    flex-grow: 1;
  }
}

.positions {
  padding: 12px;
}
