.menuSetting {
  padding: 27px 12px;
}

.card {
  background: none;
  margin-bottom: 22px;
  padding: 0;

  .menuSys {
    font-family: PingFang SC Bold, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: 0;
  }

  :global .adm-card-header:not(:last-child) {
    border: none;
  }

  .cardTitle {
    font-family: PingFang SC Bold, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: 0;
    color: #333333;
    margin-right: 5px;
  }

  .cardHeader {
    border: none;
    padding: 11px 5px;
  }

  .cardBody {
    padding: 16px 21px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 9px -2px rgba(220, 220, 220, 0.3);

    .commonlyClose {
      display: flex;
      align-items: center;

      .commonlyLeft {
        flex-grow: 1;
        font-family: PingFang SC Regular, sans-serif;
        font-size: 12px;
        font-weight: normal;
        color: #808080;
      }

      .commonlyRight {
        display: flex;
        align-items: center;
        gap: 2px;

        .commonlyIcon {
          font-size: 12px;
          color: #D8D8D8;
        }
      }

    }

  }

  .menuCardBody, .commonlyOpen {
    padding: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 9px -2px rgba(220, 220, 220, 0.3);

    .menus {
      padding: 24px 18px;
      border-style: dashed;
      border-width: 1px;
      border-color: rgba(57, 116, 199, 0.1);
      display: flex;
      justify-content: center;
    }
  }
}



