.menuSetting {
  padding: 27px 12px;
}

.card {
  background: none;
  margin-bottom: 22px;
  padding: 0;

  .menuSys {
    font-family: PingFang SC Bold, sans-serif;
    font-size: 14px;
    font-weight: normal;
    line-height: 14px;
    letter-spacing: 0;
  }

  :global .adm-card-header:not(:last-child) {
    border: none;
  }

  .cardTitle {
    font-family: PingFang SC Bold, sans-serif;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
    letter-spacing: 0;
    color: #333333;
    margin-right: 5px;
    display: flex;
    align-items: center;

    div {
      margin-left: 8px;
      svg {
        color: #fff;
      }
    }
  }

  .cardHeader {
    border: none;
    padding: 11px 5px;
  }

  .cardBody {
    padding: 16px 21px;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 9px -2px rgba(220, 220, 220, 0.3);

    .commonlyClose {
      display: flex;
      align-items: center;

      .commonlyLeft {
        flex-grow: 1;
        font-family: PingFang SC Regular, sans-serif;
        font-size: 12px;
        font-weight: normal;
        color: #808080;
      }

      .commonlyRight {
        display: flex;
        align-items: center;
        gap: 5px;

        .commonlyIcon {
          font-size: 12px;
          color: #D8D8D8;
        }
      }

    }

  }

  .menuCardBody, .commonlyOpen {
    padding: 0;
    border-radius: 8px;
    background: rgba(255, 255, 255, 0.9);
    box-shadow: 0 6px 9px -2px rgba(220, 220, 220, 0.3);
    overflow: hidden;

    .menus {
      padding: 14px;
      border-style: dashed;
      border-width: 1px;
      border-color: rgba(57, 116, 199, 0.1);
      display: flex;
      justify-content: center;
    }
  }
}

.badge {
  background-color: rgba(0, 0, 0, 0);
  right: 8px;

  :global .adm-badge-content {
    padding: 20px;
  }

  .removeContent {
    background-color: #bdbaba;
    width: 20px;
    height: 20px;
    display: flex;
    border-radius: 50%;
    align-items: center;
    justify-content: center;
    font-size: 14px;
  }
}

.addContent {
  background-color: var(--adm-color-primary);
  width: 20px;
  height: 20px;
  display: flex;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  font-size: 14px;
}

.shake0 {
  animation: shake0 0.5s infinite both;
}

.shake1 {
  animation: shake1 0.5s infinite both;
}

.shake2 {
  animation: shake2 0.5s infinite both;
}

.shake3 {
  animation: shake3 0.5s infinite both;
}

.shake4 {
  animation: shake4 0.5s infinite both;
}

.shake5 {
  animation: shake5 0.5s infinite both;
}

@keyframes shake0 {
  20% {
    transform: rotate(-2deg);
  }
  40% {
    transform: rotate(2deg);
  }
  60% {
    transform: rotate(-1deg);
  }
  80% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }

}

@keyframes shake1 {

  20% {
    transform: rotate(2deg);
  }
  40% {
    transform: rotate(-2deg);
  }
  60% {
    transform: rotate(1deg);
  }
  80% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@keyframes shake2 {
  10% {
    transform: rotate(2deg);
  }
  30% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(1deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}


@keyframes shake3 {
  10% {
    transform: rotate(-2deg);
  }
  30% {
    transform: rotate(2deg);
  }
  50% {
    transform: rotate(-1deg);
  }
  70% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}

@keyframes shake4 {
  30% {
    transform: rotate(-2deg);
  }
  50% {
    transform: rotate(2deg);
  }
  70% {
    transform: rotate(-1deg);
  }
  90% {
    transform: rotate(1deg);
  }
  100% {
    transform: rotate(0deg);
  }
}






