.title {
  color: #666666;
  display: flex;
  align-items: center;

  .leftBorder {
    width: 3px;
    height: 14px;
    background: var(--adm-color-primary);
    margin: 0 5px 0 0;
    font-size: 14px;
    border-radius: 50px;
  }

  //.leftBorder::before {
  //  border-radius: 50px;
  //  //content: "123";
  //}
}
