.bottomAction {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: #fff;
  padding: 12px;
  display: flex;
  align-items: center;
  bottom: 0;

  .radio {
    flex-grow: 1;
    gap: 8px;
  }
}

.tabs {
  background-color: #fff;
  border-bottom: 1px solid var(--body--background--color);

  :global {

    .adm-tabs-tab {
      padding: 8px 16px 10px;
      text-align: center;
      font-size: 16px;
    }
  }
}

.listItem {
  margin-bottom: 3px;

  .header {
    display: flex;
    align-items: center;
    background-color: #fff;
    padding: 12px;
    gap: 8px;

    .label {
      flex-grow: 1;
    }
  }

  .content {

    .skuItem {
      display: flex;
      align-items: center;
      border-top: solid 1px var(--body--background--color);
      padding: 8px 12px;
      background-color: #fff;

      .sku {
        flex-grow: 1;
      }

    }
  }

  .space {
    height: 1px;
    background-color: var(--body--background--color);
  }
}
