.skuItem {
  padding: 12px;
  border-top: solid 1px #F5F5F5;
  background-color: #fff;
  display: flex;
  align-items: center;

  .sku {
    flex-grow: 1;
  }
}

.bomVersion {
  padding: 12px 12px 68px;

  .bomVersionSku {
    margin-bottom: 8px;
  }

  .bomVersionItem {
    border-top: solid 1px #F5F5F5;
    margin-top: 4px;
    padding-top: 4px;
    display: flex;
    align-items: center;

    .bomVersionInfo {
      flex-grow: 1;

      > div {
        padding: 4px 0;
      }
    }
  }
}

.space {
  background-color: var(--body--background--color);
  min-height: 3px;
}
