.stocktaking {

  .positionItem {
    background-color: #fff;
  }

  .positionName {
    border-bottom: solid 1px #F5F5F5;
    padding: 12px;
  }

  .skus {

    .sku {
      padding: 8px 12px;
      display: flex;
      align-items: center;
      border-bottom: solid 1px #F5F5F5;
      position: relative;

      .skuItem {
        flex-grow: 1;
      }

      .info {
        display: flex;
        flex-direction: column;
        gap: 8px;
        align-items: flex-end;

        .icon {
          color: var(--adm-color-danger);
        }
      }
    }
  }

  .space {
    height: 3px;
    background-color: var(--body--background--color);
  }

}

.position {
  position: absolute;
  top: 0;
  right: 0;

  .status {
    height: 0;
    width: 0;
    display: inline-block;
    border-left: solid 40px rgba(0, 0, 0, 0);
    position: relative;

    svg {
      position: absolute;
      top: -37px;
      right: 3px;
      color: #fff;
      font-size: 16px;
    }
  }
}



