.skuItem {
  padding: 12px;
  background-color: #fff;
  margin-bottom: 8px;

  .log {
    padding-top: 8px;

    .data {
      display: flex;
      align-items: center;
      padding: 8px;
      border-top: 1px solid #D8D8D8;

      .left {
        flex-grow: 1;
      }
    }
  }
}


