.list {
  :global {
    .adm-check-list-item-active {
      color: var(--adm-color-primary);
    }

    .adm-list-item-content-main {
      padding: 6px 0;
      font-size: 14px;
    }
  }
}

.searchBar {
  padding: 0 0 12px 0 !important;

  :global .adm-search-bar {
    border: solid 1px #F5F5F5;
    border-radius: 2px;
    overflow: hidden;
  }

  :global .adm-search-bar-input-box {
    background-color: #fff !important;
    border: none;
  }
}

