.skuList {
  min-height: 100vh;
}

.screen {
  position: sticky;
  top: 0;
  z-index: 1;
  background-color: #fff;
  padding: 12px;
  border-top: solid 1px #F5F5F5;
  display: flex;
  height: 40px;
  align-items: center;

  .blank {
    flex-grow: 1;
  }

  .sort {
    padding: 0 4px;
    display: flex;
    align-items: center;
    gap: 8px;
  }

  .stockNumber {
    color: #666666;

    span {
      color: #257BDE;
    }
  }

  .screenButton {
    color: #000000;
    border-left: 1px #bebdbd solid;
    padding: 0 8px;
    margin-left: 8px;

    svg {
      font-size: 13px;
    }
  }

  .checked {
    color: var(--adm-color-primary);
  }

}

.skuClass {
  position: sticky;
  background-color: var(--body--background--color);

  top: 40px;
  z-index: 1;
  --title-font-size: 14px;
  height: 34px;
  line-height: 34px;

  :global .adm-tabs-header {
    border: none;
  }

  :global .adm-tabs-tab {
    span {
      padding: 2px 9px;
    }
  }

  .classCheck {
    background-color: #257BDE;
    border-radius: 10px;
    color: #fff;
  }


  :global .adm-tabs-tab-line {
    display: none;
  }

  :global .adm-tabs-tab {
    padding: 0;
  }
}

.dropdown {

  .sortContent {
    padding: 12px;
    border-bottom: 1px #eee solid;
    display: flex;

    span {
      flex-grow: 1;
    }
  }
}


