.outstockDetailsList :global .adm-list-item-content {
  padding: 8px;
}

.outstockOrderList :global .adm-list-item-content {
  padding: 8px
}

.outstocklistingList :global .adm-list-item-content {
  padding: 0;
}
