.search {
  padding: 0 !important;
  background: transparent;

  :global {
    .adm-search-bar-input-box {
      background-color: #fff !important;
      border-radius: 3px !important;
    }
  }
}

.searchContent {
  margin-top: 8px;
  background-color: #fff;
  border-radius: 3px;
  overflow: hidden;

  .searchCard {
    margin: 0;

    .searchCardBody {
      padding: 8px 0;
      border-bottom: 1px dashed var(--body--background--color);

      .diyTime {
        margin-top: 8px;
        border: solid 1px var(--body--background--color);
        padding: 4px 8px;
      }

    }
  }

  .buttons {
    text-align: center;

    button {
      width: 40%;
      margin: 24px 16px;
    }
  }
}

.selector {
  :global {
    .adm-selector-item {
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }
  }
}

.header {
  border-radius: 4px;
  background-color: #fff;
  height: 50px;
  display: flex;
  align-items: center;
  padding: 0 12px;

  > div {
    width: calc(50% - 0.5px);
    display: inline-block;
  }

  .space {
    flex-grow: 0;
    background-color: #F5F5F5;
    padding: 14px 0;
    height: 30px;
    width: 1px;
  }

  .time {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    .placeholder {
      color: #999999;
    }
  }

  .tabs {
    .inOutStockTabs {
      :global {

        .adm-tabs-tab-wrapper {
          padding: 0 12px
        }

        .adm-tabs-tab-line {
          background-color: var(--adm-color-primary);
        }

        .adm-tabs-tab {
          font-size: 16px;
          padding: 14px 0;
          color: #000;
        }

        .adm-tabs-header {
          border: none;
        }

        .adm-tabs-tab-active {
          color: var(--adm-color-primary);
          font-weight: normal;
          font-size: 16px;
        }
      }
    }
  }
}

.dimension {
  border-radius: 3px 3px 0 0;
  background-color: #fff;
  margin-top: 8px;
  margin-bottom: 1px;
  padding: 12px;
  display: flex;
  align-items: center;

  .timeShow {
    flex-grow: 1;
  }
}

.listSearch {
  margin: 1px 0;
  display: flex;
  align-items: center;
  background-color: #fff;

  .searchBar {

    input {
      font-size: 12px;
    }

    :global {
      .adm-search-bar {
        --height: 24px !important;
      }
    }
  }

  > div {
    flex-grow: 1;
  }
}

.supply {
  background-color: #fff;
  margin-bottom: 3px;
}

.skuList {
  background-color: #fff;
}

.skuItem {
  display: flex;
  align-items: center;
  padding: 12px;

  .check {
    margin-right: 12px;
    text-align: center;
  }

  .sku {
    flex-grow: 1;
  }

  .action {
    color: #9A9A9A;
    text-align: right;
  }
}

.otherContent {
  padding: 0 12px 8px;
}

.skuSupply {
  border: solid 1px var(--body--background--color);
  margin-bottom: 4px;

  .skuSupplyHead {
    border-bottom: solid 1px #F5F5F5;
  }

  .skuSupplyContent, .skuSupplyHead {
    padding: 8px;
    display: flex;
    align-items: center;

    .skuSupplyLabel {
      text-align: left;
      width: 40%;
      text-overflow: ellipsis;
      overflow: hidden;
      white-space: nowrap;
    }

    .skuSupplyNumber {
      color: #9A9A9A;
      text-align: right;
      width: 20%;
    }
  }
}

.list {
  //border-radius: 3px;
  padding-bottom: 28px;
  overflow: hidden;
}

.skuSpace {
  height: 1px;
  background-color: #F5F5F5;
  margin: 0 12px;
}

.bottomAction {
  box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
  z-index: 1;
  width: 100%;
  position: fixed;
  background-color: #fff;
  padding: 12px;
  display: flex;
  align-items: center;
  margin: 0 -12px;

  .radio {
    flex-grow: 1;
    gap: 8px;
  }
}

.yuan {
  width: 10px;
  height: 10px;
  border-radius: 50px;
  background: var(--adm-color-primary);
}

.card {
  border-radius: 4px;
  margin-bottom: 8px;

  .cardHeader {
    border-bottom: solid 1px #F5F5F5;
    padding-bottom: 8px;
  }

  .info {
    display: flex;

    > div {
      flex-grow: 1;
      font-size: 12px;

      .numberTitle {
        color: #8D8D8D;
      }

      .cardNum {
        margin-top: 8px;

        span {
          font-size: 14px;
        }
      }
    }
  }
}
