.data {
  display: flex;
  align-items: center;
  background-color: #fff;
  //padding: 12px;
  margin-bottom: 1px;

  .label {
    flex-grow: 1;
  }

  .value {

  }
}

.cardStyle {
  padding: 0;
}

.skuList {
  //padding: 0 12px;
  background-color: #fff;

  .skuItem {
    padding: 12px 0;
    border-bottom: 1px solid #F5F5F5;
    display: flex;
    align-items: center;

    .sku {
      flex-grow: 1;
    }

    .realNumber {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 8px;

      .status {
        width: 50px;
        color: #257BDE;
        font-size: 12px;
      }
    }


  }

  .error {
    padding: 8px 0;
    display: flex;
    gap: 8px;

    .red {
      color: var(--adm-color-danger);
    }

    .yellow {
      color: #FA8F2B;
    }

    div {
      flex-grow: 1;
    }
  }
}

.space {
  min-height: 8px;
  background-color: var(--body--background--color);
}
