.skuClass, .supply {
  :global .adm-selector-item {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.left {
  :global .adm-selector-item {
    text-align: left;
  }
}

.searchBar {
  padding: 0 0 12px 0 !important;

  :global .adm-search-bar {
    border: solid 1px #F5F5F5;
  }

  :global .adm-search-bar-input-box {
    background-color: #fff !important;
    border: none;
  }
}

.time {
  margin-top: 8px;

  .timeShow {
    padding: 0 8px;
    border-radius: 50px;
    border: solid 1px #f5f5f5;
    display: flex;
    align-items: center;
    gap: 4px;
    font-size: 14px;
  }
}

.userBox {

}

