.skuClass, .supply {
  :global .adm-selector-item {
    font-size: 12px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: nowrap;
  }
}

.left {
  :global .adm-selector-item {
    text-align: left;
  }
}

.searchBar {
  padding: 0 0 12px 0 !important;

  :global .adm-search-bar {
    border: solid 1px #F5F5F5;
    border-radius: 2px;
    overflow: hidden;
  }

  :global .adm-search-bar-input-box {
    background-color: #fff !important;
    border: none;
  }
}

.content {
  margin-bottom: 16px;

  :global .adm-selector {
    font-size: 12px;
  }
}

.time {
  margin-top: 8px;
  align-items: center;
  display: flex;

  .checkDate {
    flex-grow: 1;

    .timeShow {
      padding: 0 8px;
      border-radius: 50px;
      border: solid 1px #f5f5f5;
      display: flex;
      align-items: center;
      gap: 4px;
      font-size: 14px;
    }
  }


}

.showNumber {
  text-align: center;
  margin-top: 16px;
}

.stockNumber {
  display: flex;

  .number {
    margin: 0 24px;
    border: none;
  }
}

