
.error {
  background-color: var(--body--background--color);
  display: flex;
  flex-direction: column;
  overflow: auto;

  .cardStyle {
    margin-bottom: 8px;
  }

  .cardStyle, .bodyStyle {
    padding: 0 !important;
  }

  .errors {
    background-color: #fff;
  }

  .inKindCard {
    padding: 0;
    margin: 12px;
    border: solid 1px var(--body--background--color);
    border-radius: 2px;
    overflow: hidden;
  }

  .headerStyle {
    background-color: var(--body--background--color);
    height: 33px;
    padding: 8px 12px;
  }

  .errorActionHeader {
    background-color: #fff;
    margin-bottom: 12px;
    padding-bottom: 8px;
  }

  .header {
    display: flex;
    padding: 12px;
    border-bottom: 1px solid #EEEEEE;
    align-items: center;
    position: sticky;
    top: 0;
    background-color: #fff;
    z-index: 1;
    height: 60px;

    .skuShow {
      flex-grow: 1;
      display: flex;
      gap: 8px;
      font-size: 12px;
      align-items: center;

      .smallSku {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
      }

      .number {
        max-width: 100px;
      }
    }

    .title {
      flex-grow: 1;
      text-align: center;
      font-size: 18px;
      height: 30px;
      line-height: 30px;
    }
  }

  .skuItem {
    padding: 0 12px;
    display: flex;
    align-items: center;
    //border-bottom: 1px solid #D8D8D8;

    .sku {
      border: none;
    }

    .showNumber {
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .through {
        text-decoration: line-through
      }
    }

  }

  .verify {
    padding: 12px 12px 0;
    display: flex;
    flex-direction: column;
    gap: 12px;
    //max-height: 100px;
    //overflow: auto;

    .verifyAction {
      border: solid 1px #EEEEEE;
      padding: 12px;
      display: flex;
      flex-direction: column;
      gap: 12px;
    }

    .checkUser {
      display: flex;
      gap: 4px;
      flex-direction: column;
      align-items: flex-start;
      border-top: solid 1px #f5f5f5;
      padding-top: 8px;
    }

    .checkNumber {
      display: flex;
      align-items: center;

      .title {
        min-width: 56px;
        flex-grow: 0;
      }
    }
  }

  .sku {
    padding-top: 12px;
    flex-grow: 1;
    //border-bottom: 1px solid #D8D8D8;
  }

  .actual {
    padding: 6px 12px;
    font-size: 14px;
    display: flex;
    align-items: center;

    .number {
      flex-grow: 1;
    }

    svg {
      font-size: 16px;
    }

    :global .adm-input {
      border: 1px solid #D9D9D9;
      padding: 4px;
      --font-size: 12px;
    }
  }

  .space {
    min-height: 8px;
    background-color: var(--body--background--color);
  }

  .divider {
    margin: 0;
    padding: 12px 0;
    background-color: #fff;
    text-align: center;
  }

  .inkind {
    flex-grow: 1;
    display: flex;
    align-items: center;
    gap: 8px;

    .inkindNumber {
      color: var(--adm-color-danger);
      margin-left: 8px;
    }

    .prohibit {
      color: var(--adm-color-danger);
    }

    .allow {
      color: var(--adm-color-primary);
    }

    .index {
      border-radius: 100%;
      background-color: var(--adm-color-primary);
      width: 16px;
      height: 16px;
      display: flex;
      align-items: center;
      justify-content: center;
      color: #fff;
      font-size: 12px;
    }

    svg {
      font-size: 16px;
      color: var(--adm-color-primary);
    }
  }

  .log {
    display: flex;
    align-items: center;
    padding: 8px 0;

    .user {
      flex-grow: 1;
    }

  }

  .inKindRow {
    padding: 4px 0;
    align-items: center;
    display: flex;

    .inkindCareful {
      padding: 0;
      flex-grow: 1;
    }

    .inKindTitle {
      color: #666666;
      min-width: 70px;
      margin-right: 8px;
    }

    .inKindFiledTitle {
      color: #666666;
      min-width: 60px;
      margin-right: 8px;

      span {
        color: var(--adm-color-danger);
      }
    }

    .addError {
      width: 22px;
      height: 22px;
      padding: 0;
    }
  }

  .inkindFiled {
    padding: 2px 0;
  }

  .careful {
    //padding: 12px 0;
    display: flex;

    .notices {
      font-size: 12px;
      display: inline-block;
      border-radius: 2px;
      background: #F5F5F5;
      border: 1px solid #D9D9D9;
      padding: 2px 12px;
      margin-left: 8px;
    }

    .title {
      padding: 8px 0;
    }
  }

  .imgs {
    padding: 12px 0;
  }

  .inkindTitle {
    display: inline-block;
    min-width: 50px;
  }

  .opinion {
    display: flex;
    align-items: center;

    .textArea {
      padding: 4px;
    }
  }

  .actions {
    display: flex;
    align-items: center;
    padding-top: 8px;
    border-top: #F5F5F5 solid 1px;
    margin-top: 6px;

    .actionButton {
      flex-grow: 1;
      display: flex;
      gap: 8px;
    }

    .ok {
      --border-color: #2EAF5D;
      --text-color: #2EAF5D;
      --border-radius: 2;
    }
  }

  .textArea {
    border-radius: 2px;
    border: 1px solid #D9D9D9;
    padding: 4px;
    --font-size: 12px;
  }

  .bottom {
    margin: 0 -12px -12px -12px;
    padding: 12px;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);

    button {
      border-radius: 50px;
      width: 100%;
    }
  }

  .bottomAction {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #FFFFFF;
    box-shadow: 0 4px 10px 0 rgba(0, 0, 0, 0.3);
    display: flex;
    align-items: center;
    height: 40px;

    .action {
      flex-grow: 1;
      gap: 12px;
      display: flex;
      align-items: center;
      padding-left: 12px;

      .instockNumber {
        display: flex;
        align-items: center;
        gap: 8px;
      }
    }

    button {
      height: 100%;
      width: 102px;
      border-radius: 0;
    }
  }
}

.getInkind {
  :global .adm-popup-body {
    min-height: 80vh;
  }
}

.otehrActions {
  display: flex;
  padding: 24px 0;

  button {
    flex-grow: 1;
    text-align: center;
  }
}

.customerList {
  background-color: #fff;
  margin-bottom: 12px;

  .customer {
    padding: 8px 0;
    display: flex;
    align-items: center;

    .name {
      flex-grow: 1;
    }
  }
}
