html, body, #root {
  height: 100%;
  overflow: hidden;
}

body {
  margin: 0;
  background-color: #E1EBF6;
  --body--background--color: #E1EBF6;
  line-height: revert;
}

:global .am-badge-text {
  z-index: auto;
}

:global .weui-popup-content {
  position: fixed !important;
}

.adm-button-primary {
  --color: #2680EB;
}

:root {
  --adm-color-primary: #2680EB;
  --adm-font-size-main: 14px;
}

.adm-button {
  font-size: 14px;
  padding: 4px 12px;
  line-height: normal;
  --border-radius: 2px;
}


.adm-picker-popup, .adm-mask {
  --z-index: 1003;
}

.adm-action-sheet-popup {
  --z-index: 1002;
}

.adm-stepper {
  --height: 24px
}

.adm-action-sheet-button-item {
  padding: 4px 12px;
}

.adm-action-sheet-button-item-name {
  font-size: 14px;
  padding: 8px;
}

.adm-input {
  --font-size: 14px;
}










