html, body, #root {
  height: 100%;
}

div {
  font-size: 5vw;
}

input {
  font-size: 5vw !important;
}

body {
  margin: 0;
}

:global .am-badge-text {
  z-index: auto;
}

:global .weui-popup-content {
  position: fixed !important;
}



