
.search {
  z-index: 1;
  background-color: #fff;
}

.listItem {
  padding-right: var(--padding-right);

  .skuItem {
    display: flex;
    align-items: center;

    .sku {
      flex-grow: 1;
    }
  }
}

.action {

  button,a {
    padding: 0;
    height: 58px;
    line-height: 58px;
  }

  :global .adm-action-sheet-button-item-name {
    font-size: 18px;
    padding: 0;
  }
}




