
.search {
  z-index: 1;
  background-color: #fff;
}

.listItem {
  padding-right: var(--padding-right);

  .skuItem {
    display: flex;
    align-items: center;

    .sku {
      flex-grow: 1;
    }
  }
}

.action {

  button {
    padding: 0;
    font-size: 18px;
    height: 58px;
  }
}




