
.search {
  z-index: 1;
  background-color: #fff;
}

.listItem {
  padding-right: var(--padding-right);

  .skuItem {
    display: flex;
    align-items: center;

    .sku {
      flex-grow: 1;
    }
  }
}

.action {
  :global .adm-action-sheet-button-item-name {
    font-size: 14px;
    padding: 8px;
  }
}




