
.safeArea {
  height: 100%;
  overflow: auto;

  .logo {
    position: absolute;
    z-index: -1;
    top: 0;
    width: 100%;
    text-align: center;
  }
}

//@supports (bottom: constant(safe-area-inset-bottom)) {
//  .safeArea {
//    padding-bottom: calc(constant(safe-area-inset-bottom));
//  }
//}
//
//@supports ((bottom: env(safe-area-inset-bottom))) {
//  .safeArea {
//    padding-bottom: calc(env(safe-area-inset-bottom));
//  }
//}


