
.successTitle {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: center;
  flex-direction: column;

  svg {
    color: #52c41a;
    font-size: 32px;
  }
}

.dialogTitle {
  text-align: center;

  .waringIcon, .errorIcon {
    text-align: right;
    padding-right: 8px;
    position: absolute;
    top: 0;
    left: -32px;

    svg {
      font-size: 24px;
    }
  }

}

.warningContent, .errorContent,.successContent {
  display: flex;
  align-items: center;
  gap: 8px;
  flex-direction: column;

  .waringIcon,.errorIcon,.successIcon {
    font-size: 40px;
  }

  .waringIcon {
    color: rgb(250, 173, 20);
  }

  .errorIcon {
    color: var(--adm-color-danger);
  }

  .successIcon {
    color: #52c41a;
  }

  .title {
    font-size: 18px;
    font-weight: bold;
  }

  .content {
    font-size: 14px;
    color: #999;
  }
}

.dialogContent {
  text-align: center;
  padding-top: 8px;
}
