
.keyboard {
  display: flex;
  flex-wrap: wrap;

  .numberButton {
    width: 33%;
    padding: 4px;

    .clear {
      display: flex;
      align-items: center;
      justify-content: center;

      svg {
        font-size: 24px;
      }
    }

    button {
      border-radius: 8px;
      width: 100%;
      padding: 8px;
    }
  }
}

