.inventory {
  background-color: #FFFFFF;
  border-bottom: 1px solid #F5F5F5;
  border-radius:4px;
  padding: 13px 8px 6px 12px ;
  width: 100%;

  .errorCenter{
    display: flex;
    padding-top: 8px;
    width: 100%;
    .quantity{
      font-size: 12px;
      font-weight: 350;
      line-height: 26px;
      color: #3D3D3D;
      display: flex;
    }
    .blueBlock{
       width: 8px;
       height: 8px;
       margin: 10px 4px 4px 12px;
       background: #257BDE;
     }
    .redBlock{
      width: 8px;
      height: 8px;
      margin: 9px 4px 4px 4px;
      background: #FF3131;
    }
  }

  .errorTop{
    display: flex;
    .errorTitle{
      padding-bottom: 10px;
      border-bottom: 1px solid #F5F5F5;
      font-size: 16px;
      font-weight: bold;
    }


  }
  .unit{
    margin:13px 0 5px 14px;
    font-size: 10px;
    font-weight: normal;
    line-height: 10px;
    color: #3D3D3D;
  }
}
