.status {
  display: flex;
  align-items: center;

  div {
    flex-grow: 1;
    padding: 12px;
    text-align: center;
  }
}

.progress {
  padding: 0 12px;

  .blue {
    color: var(--adm-color-primary)
  }
}

.orderData {
  display: flex;
  align-items: center;
  padding: 12px;

  .user {
    flex-grow: 1;
  }
}
