.status {
  display: flex;
  align-items: center;

  div {
    flex-grow: 1;
    padding: 12px;
    text-align: center;
  }
}

.orderData {
  display: flex;
  align-items: center;
  padding: 12px;

  .user {
    flex-grow: 1;
  }
}

.blue {
  color: var(--adm-color-primary);
}

.red {
  color: var(--adm-color-danger);
}

.yellow {
  color: #FA8F2B;
}
