/* 3D Bouncing ball */
.jump {
  animation: jump .5s;
}

.box {
  position: relative;
}

.ball {
  position: absolute;
  bottom: 0;
  //animation: jump .5s infinite;
  left: 0;
  right: 0;
  margin: auto;
}

/* Animations */
@keyframes jump {
  0% {
    height: 100%;
    width: 80%;
  }
  50% {
    height: 80%;
    width: 100%;
  }
  100% {
    height: 100%;
    width: 80%;
  }
}
